<div class="search-container">
  <h1>Book Searcher</h1>
  <form (submit)="onSearch()" class="search-form">
    <input 
      type="text" 
      [(ngModel)]="searchQuery" 
      placeholder="Search books by title or author"
      name="query"
      required
    />
    <button type="submit">Search</button>
  </form>

  <div *ngIf="books.length > 0" class="book-list">
    <ul>
      <li *ngFor="let book of books" (click)="showDescription(book)">
        <img [src]="book.thumbnail" alt="Book cover" />
        <h3>{{ book.title }}</h3>
        <p>{{ book.authors.join(', ') }}</p>
        <p>{{ book.description | slice:0:100 }}...</p>
        <button (click)="addToFavorites(book); $event.stopPropagation()">Add to Favorites</button>
      </li>
    </ul>
  </div>

  <div *ngIf="books.length === 0 && searchPerformed">
    <p>No books found for "{{ searchQuery }}". Please try a different search term.</p>
  </div>

  <div class="modal" *ngIf="selectedBook">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <img [src]="selectedBook.thumbnail" alt="Book cover" class="modal-image"/>
      <h3>{{ selectedBook.title }}</h3>
      <p>{{ selectedBook.authors.join(', ') }}</p>
      <p>{{ selectedBook.description }}</p>
    </div>
  </div>
</div>
